<!DOCTYPE html>
<html>
<head>
    <title>Ly NGUYEN</title>
    <meta name="viewport" content="initial-scale=1, width=device-width" />
</head>
<body>
    <div id="app">
        <div class="loader">
            <div class="content">
                <h1>Hello there!</h1>
                <p>Please wait a bit until the page is fully loaded...</p>
            </div>
            <style>
                .loader {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
                .loader * {
                    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", serif;
                    color: #000;
                    line-height: 1em;
                }
                .loader .content {
                    position: relative;
                    padding: 1rem 3rem 1rem calc(3rem + 20px);
                    &:before {
                        content: '';
                        width: 10px;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 20px;
                        background: black;
                        border-radius: 10px;
                        animation: flip 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both infinite, color 3s steps(1) infinite;
                    }
                }
                @keyframes flip {
                    0%, 20% {
                        transform: rotateY(0);
                    }
                    40%, 60% {
                        transform: rotateY(-180deg);
                    }
                    80%, 100% {
                        transform: rotateY(0);
                    }
                }
                @keyframes color {
                    0%, 20% {
                        background: black;
                    }
                    30%, 60% {
                        background: #607D8B;
                    }
                    70%, 100% {
                        background: black;
                    }
                }

            </style>
        </div>
    </div>
</body>
</html>